.row-padding{
    padding: 100px 0px;
}
body {
    font-family: Lato;
    color: #606060;
    font-size: 14px;
    margin: 0;
    padding: 0;
}
.navbar {
    transition: all 0.4s;
}

.navbar .nav-link {
    color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #fff;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #fff;
}


.navbar.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #555;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color:  #555;
}

@media (max-width: 991.98px) {
    .navbar {
        background: #fff;
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: #555;
    }
}


.calorbanner{
    background-color: #a8af4c;
    background-image: linear-gradient(135deg, #a8af4c 0%, #c4e0e5 100%);
}

.wrap-container{
    margin: 0;
    padding: 0;
}
.home-myprojek{
    margin-top:  150px;
    margin-right: 0%;
    margin-lif: 0%;
    
}

.home-myprojek h1{
    font-weight:  300;
    letter-spacing:  3px;
    color:#fff
}

.home-myprojek h4 {
    color:#fff;
    font-weight:  300;
    margin-top:  20px;
    font-size:  21px;
    letter-spacing:  2px;
}
.home-myprojek h5 {
    color:#fff;
    font-weight:  300;
    margin-top:  20px;
    font-size:  21px;
    letter-spacing:  2px;
}
.card {
    margin-bottom: 10px;
}
.card1 {
    background-image: url(assets/img/card1.png);
    background-size: cover;
    border-radius: 20px;
}
.card2 {
    background-image: url(assets/img/card2.png);
    background-size: cover;
    border-radius: 20px;
}
.card3 {
    background-image: url(assets/img/card3.png);
    background-size: cover;
    border-radius: 20px;
}
#frame{
    width: 300px;
    margin: 0px auto;
    text-align: left;
    box-sizing: border-box;
}
.form-group{
    position: relative;
    margin-bottom: 20px;
}
.form-group input{
    width: 100%;
    font-size: 1em;
    color: grey;
    padding: 10px 10px;
    background: transparent;
    border: 1px solid gray;
    z-index: 9;
    box-sizing: border-box;
    display: block;
}
.form-group textarea{
    width: 100%;
    font-size: 1em;
    color: grey;
    padding: 10px 10px;
    background: transparent;
    border: 1px solid gray;
    z-index: 9;
    box-sizing: border-box;
    display: block;
}
.form-group label{
    position: absolute;
    top: -2px;
    padding: 11px 10px;
    transition: all 200ms;
    opacity: 0.5;
    font-size: 1em;
    z-index: -1;
}
.form-group input:focus + label,
.form-group input:valid + label{
    top: 7px !important;
    left: 5px;
    font-size: 0.8em;
    transform: translate3d(0, -100%, 0);
    opacity: 1;
    padding: 0px 10px;
    background:#f9f9f9;
    z-index:1;
}
.form-group textarea:focus + label,
.form-group textarea:valid + label{
    top: 7px !important;
    left: 5px;
    font-size: 0.8em;
    transform: translate3d(0, -100%, 0);
    opacity: 1;
    padding: 0px 10px;
    background:#f9f9f9;
    z-index:1;
}
.footer {
    height: 70px;
  }
  .social-media{
    margin: 20px;
  }
  .social-media a{
    color: white;
    margin: 20px;
    font-size: 21px;
    text-decoration: none;
    transition: .3s linear;
  }
  .social-media a:hover{
    color: #fc5c65;
  }
